:root {
  /* colours */
  --primary-dark: rgb(20, 33, 61);
  --primary-light: rgb(65, 138, 255);
  --primary-accent: rgb(252, 163, 17);
  --error: rgb(250, 45, 45);
  --success: rgb(73, 236, 48);
  --warning: rgb(252, 217, 3);

  /* text colours */
  --text-dark: rgba(20, 33, 61, 0.15);
  --text-medium: rgb(144, 142, 155);
  --text-light: rgb(225, 223, 233);

  /* spacing */
  --spacing-small1: 0.25rem;
  --spacing-small2: 0.5rem;
  --spacing-small3: 0.75rem;
  --spacing-medium1: 1rem;
  --spacing-medium2: 1.25rem;
  --spacing-medium3: 1.5rem;
  --spacing-large1: 2rem;
  --spacing-large2: 3rem;
  --spacing-large3: 4rem;

  background-color: var(--primary-dark);
}
