:root {
  /* colours */
  --primary-dark: #14213d;
  --primary-light: #418aff;
  --primary-accent: #fca311;
  --error: #fa2d2d;
  --success: #49ec30;
  --warning: #fcd903;

  /* text colours */
  --text-dark: rgba(20, 33, 61, 0.15);
  --text-medium: #908e9b;
  --text-light: #e1dfe9;
}
